h1 {
color:red;
    text-align: center;
}
h2 {
    text-align: center;
    color: purple;
    
}
a{
    color:orange;
    text-decoration: none;
        
}

header{
    background: purple;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}

nav ul{
    padding-left: 0;
}

nav li {
    display: inline-block;
    width:33%;
    text-align: center;
}
p{ text-align: center;
    font-size: 30px;
    
}
    
    